@use 'vars';

// Красная кнопка действия
.red-action-btn {
  background: vars.$color-accent-1;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  padding: 4px 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  cursor: pointer;
  white-space: nowrap;
  transition: opacity ease .2s, scale ease .1s, box-shadow ease .2s;


  @media (pointer: fine) {
    &:hover {
      // opacity: .6;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
  }
  
  &:active {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    scale: .95;
  }
}

// Пагинация
.pagination {
  position: absolute !important;
  bottom: -30px !important;
  display: flex;
  justify-content: center;
  column-gap: 6px;

  &-bullet {
    width: 4px;
    height: 4px;
    display: block;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }

  &-bullet_active {
    background: vars.$color-accent-2;
  }
}

// Ссылка на видео с iframe
.video-iframe-link {
  position: relative;
  z-index: 100;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

// Анимированные картинки
.anim-decor {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, -80%);
  width: 212px;
  height: 239px;

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    max-width: 100%;

    &_active {
      display: none;
    }
  }

  &:hover .anim-decor__image_active {
    display: block;
  }
  &:hover .anim-decor__image_default {
    display: none;
  }

  @media (min-width: 910px) {
    display: block !important;
  }
}

// Скрытые элементы
.visually-hidden {
  position: fixed;
  transform: scale(0);
}