@use 'libs/reset';
@use 'libs/swiper-bundle';
@use 'vars' as vars;


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  min-width: 100vw; // Убираем прыжки при overflow: hidden (когда открываем попапы)
  min-height: 100vh;
}

img {
  user-select: none;
  pointer-events: none;
}

.container {
  max-width: 1040px;
  padding: 0 10px;
  margin: 0 auto;
}

// === Шапка сайта ===
.header {
  &__row {
    display: grid;
    justify-items: center;
    grid-row-gap: 6px;
    grid-template-areas:
      "logo"
      "contacts"
    ;
  }

  &__logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
  }

  .action-btn {
    display: none;
    grid-area: action-btn;
    padding: 7px 60px;
    border: 2px solid vars.$color-accent-1;
    background: transparent;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -1.5%;
    text-align: center;
    border-radius: 20px;
    white-space: nowrap;
    justify-self: center;
    cursor: pointer;
    transition: background ease .2s, color ease .2s, scale ease .1s;

    @media (pointer: fine) {
      &:hover {
        background: vars.$color-accent-1;
        color: #fff;
      }
    }

    &:active {
      scale: .95;
    }
  }

  @media (min-width: 430px) {
    &__row {
      align-items: center;
      grid-template-areas:
        "logo contacts"
        "action-btn action-btn"
      ;
      justify-items: stretch;
      padding: 20px 0;
      grid-row-gap: 10px;
    }

    &__logo {
      justify-content: stretch;
    }

    .contacts {
      margin-left: auto;
    }

    .action-btn {
      display: block;
    }
  }

  @media (min-width: 640px) {
    &__row {
      grid-template-areas: "logo contacts action-btn";
      grid-column-gap: 10px;
    }

    .contacts {
      margin-left: 0;
    }

    .action-btn {
      padding: 7px 25px;
    }
  }

  @media (min-width: 810px) {
    .action-btn {
      font-size: 15px;
      padding: 9px 60px;
    }
  }
}

.contacts {
  grid-area: contacts;

  &__list {
    display: flex;
    column-gap: 20px;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    font-size: 9px;
    line-height: 12px;
    position: relative;
    color: #000;
    letter-spacing: -1.5%;

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__icon {
      margin-right: 10px;
    }

    &__title {
      font-weight: 400;
      text-decoration: none;
      color: inherit;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;  
      }
    }

    &__value {
      font-weight: 600;
    }
  }

  @media (min-width: 810px) {
    &-item {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

// === Приветственная секция ===
.welcome {
  &__row {
    padding-top: 18px;
    position: relative;
  }

  &__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    letter-spacing: -1.5%;

    &_top {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &_bottom {
      margin-bottom: 25px;
      font-weight: 700;
      font-size: 28px;
      line-height: 38px;
    }

    &_note {
      color: vars.$color-accent-1;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -1.5%;
    }
  }
  
  // Слайдер (начиная с внешней оболочки)
  &-slider {
    margin-top: 20px;
    position: relative;
    min-width: 0; // для исправления глюка при вложенности в flex-контейнер

    &__slide {
      display: flex;
      justify-content: center;

      &-content {
        max-width: 100%;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }

    &__pagination {
      position: absolute !important;
      bottom: -30px !important;
      display: flex;
      justify-content: center;
      column-gap: 6px;

      &-bullet {
        width: 4px;
        height: 4px;
        display: block;
        background: #ccc;
        border-radius: 50%;
        cursor: pointer;
      }

      &-bullet_active {
        background: vars.$color-accent-2;
      }
    }
  }
  
  &__action {
    background: vars.$color-accent-1;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    padding: 4px 50px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity ease .2s, scale ease .1s;


    @media (pointer: fine) {
      &:hover {
        opacity: .6;
      }
    }

    &:active {
      scale: .95;
    }
  }

  @media (min-width: 695px) {
    &__row {
      padding-top: 35px;
      display: grid;
      grid-template-columns: .6fr 1fr;
      align-items: center;
    }

    &__title {
      text-align: start;
      align-items: flex-start;

      &_top {
        font-size: 18px;
        line-height: 24px;
      }

      &_bottom {
        font-size: 30px;
        line-height: 35px;
      }
    }

    &__action {
      margin-top: 40px;
      position: static;
      transform: none;
    }

    &-slider {
      &__slide-content {
        width: 300px;
        height: 300px;
      }

      &__pagination {
        column-gap: 12px;
      }

      &__pagination-bullet {
        width: 8px;
        height: 8px;
      }
    }
  }

  @media (min-width: 810px) {
    &__row {
      grid-template-columns: 1fr 1fr;
    }

    &__title {
      &_top {
        font-size: 24px;
        line-height: 35px;
      }

      &_bottom {
        font-size: 50px;
        line-height: 70px;
      }

      &_note {
        font-size: 24px;
        line-height: 30px;
      }
    }

    &-slider {
      transform: translate(-10%, 0);

      &__slide-content {
        width: 350px;
        height: 350px;
      }
    }
  }

  @media (min-width: 960px) {
    &__row {
      grid-template-columns: .8fr 1fr;
    }

    &-slider {
      transform: translate(-5%, 0);

      &__slide {
        &-content {
          width: 400px;
          height: 400px;
        }
      }
    }

    &__title {
      &_top {
        margin-bottom: 30px;
      }

      &_bottom {
        margin-bottom: 30px;
      }
    }

    &__action {
      margin-top: 50px;
      font-size: 20px;
      padding: 8px 70px;
    }
  }
}

// === Секция "Что это такое" ===
.what {
  margin-top: 120px;
  margin-bottom: 120px;
  background: vars.$color-accent-3;

  &__row {
    padding: 26px 0;
  }

  &__text-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
    z-index: inherit;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    z-index: inherit;
  }

  &__grid {
    margin-top: 25px;
    position: relative;
    z-index: 5;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 18px;
    z-index: inherit;
  }

  &-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: inherit;

    &__icon {
      margin-bottom: 10px;
      width: 70px;
      height: 70px;
      object-fit: cover;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 10px;
    }

    &__value {
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
    }
  }

  &__image {
    z-index: 0;

    &_large {
      display: none;
    }

    &_small {
      transform: translate(0, 30%);
    }
  }

  @media (min-width: 910px) {
    &__row {
      padding-top: 80px;
    }

    &__wrapper {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__title {
      font-weight: 600;
      font-size: 36px;
      line-height: 35px;
      text-align: start;
    }

    &__text-block {
      text-align: start;
    }

    &__subtitle {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
    }

    &__text {
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
    }

    .what-item {
      &__icon {
        width: 100px;
        height: 100px;
      }

      &__title {
        font-size: 24px;
        line-height: 33px;
      }

      &__value {
        font-size: 14px;
        line-height: 25px;
      }
    }

    &__image {
      &_large {
        display: block;
        transform: translate(0, -10%);
      }

      &_small {
        display: none;
      }
    }
  }
}